$fontFamilyDisplay: 'Slabo 13px', serif;
$fontFamilyDefault: 'Lato', sans-serif;

$linkColor: dodgerblue;
$black900: #272727;
$black800: #444444;
$black600: #6a6a6a;
$black500: #838383;
$black300: #acacac;
$black200: #dedede;
$black100: #f7f7f7;

$primaryColor: #2d76f6;
