@import 'sass/variables';

.container {
  margin: 0 0 1rem;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.jobTitle {
  font: 600 18px/22px $fontFamilyDisplay;
  color: $black800;
}

.companyName {
  font-family: $fontFamilyDisplay;
  color: $black800;
}

.metaInfo {
  margin-left: auto;
  text-align: right;
  font-size: 14px;
  color: $black600;
}

.metaIcon {
  color: $black500;
  margin-left: 0.5rem;
  opacity: 0.7;
}

.companyName {
  // font: 500 18px/24px $fontFamilyDisplay;
}

.responsibilities {
  margin: 0.5rem;
  padding: 0 0 0 1.5rem;
}
